APP_TITLE=プロジェクトタイトル

# データベース設定
DATABASE_URL="postgresql://myuser:mypassword@localhost:5432/my_prisma_postgres_app?schema=public"

# セッション設定
SESSION_COOKIE_SECRET=superdupersecret
SESSION_REDIS_URL=redis://localhost:6379/
