---
export interface Props {
  title: string
}

const { title } = Astro.props
import logoImage from '@/assets/images/astro-logo.svg'
import '@/styles/global.css'

const user = Astro.locals.user
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header
      class="z-50 flex w-full flex-wrap border-b border-gray-200 bg-white py-3 text-sm sm:flex-nowrap sm:justify-start sm:py-0 dark:border-gray-700 dark:bg-gray-800"
    >
      <nav
        class="relative mx-auto w-full max-w-7xl px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8"
      >
        <div class="flex items-center justify-between whitespace-nowrap">
          <a
            class="inline-flex w-64 items-center gap-x-2 text-xl font-semibold dark:text-white"
            href="/"
          >
            <img src={logoImage.src} width="40" alt="Astroロゴ" />
            {import.meta.env.APP_TITLE}
          </a>
          {user && <span>(ログイン中)</span>}
        </div>
        <div class="hidden grow basis-full overflow-hidden sm:block">
          <div
            class="mt-5 flex flex-col gap-x-0 gap-y-4 sm:mt-0 sm:flex-row sm:items-center sm:justify-end sm:gap-x-7 sm:gap-y-0 sm:ps-7"
          >
            <a
              class="font-medium text-gray-500 hover:text-gray-400 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500"
              href="/about">About</a
            >
            {
              user && (
                <button
                  type="button"
                  id="logout"
                  class="font-medium text-gray-500 hover:text-gray-400 sm:py-6 dark:text-gray-400 dark:hover:text-gray-500"
                >
                  ログアウト
                </button>
              )
            }
          </div>
        </div>
      </nav>
    </header>
    <main class="mx-auto max-w-2xl pt-10">
      <slot />
    </main>
  </body>
</html>
<script>
  import AuthFetch from '@/fetch/auth.ts'

  const button = document.querySelector('#logout')
  button?.addEventListener('click', async () => {
    const result = await AuthFetch.logout()
    if (result) window.location.href = '/'
  })
</script>
